* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: verdana, arial, sans-serif;
    color: grey
  }
  
  /* Header Start */
  header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: grey;
    background-size: cover;
  }
  
  header h1 {
    font-weight: italic;
    font-size: 40px;
    color: whitesmoke;
    margin: 0;
  }
  
  header nav {
    margin: 9px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
  }
  
  /* Header End */
  
  /* Footer Start */
  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: grey;
    color: whitesmoke;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    font-size: 20px;
  }
  
  /* Footer End */
  
  /* Hero Start */
  .hero {
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;
  }
  
  .hero-set {
    width: auto;
  }
  
  .hero-set h2 {
    font-weight: bold italic;
    font-size: 80px;
    padding: 0px 40px 10px 0;
    color: whitesmoke;
  }
  
  /*About Me Section*/
  
  .container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about {
    background-image: url('../images/coding.jpg');
  }
  
  .section-title {
    color: whitesmoke;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  .section-title-2 {
    color: whitesmoke;
    font-size: 45px;
    padding-top: 15px;
    text-align: center;
    margin: auto auto 20px auto;
    width: 50%;
  }
  
  .about-me {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: auto;
    justify-content: space-evenly;
  }
  
  .about-me p {
    width: 80%;
    margin-bottom: 15px;
    color: whitesmoke;
    line-height: 1.7;
    font-size: 17px;
    padding: 20px auto auto auto;
  }
  
  .about-img img {
    max-width: 400px;
    padding: 5px 10px 40px 100px;
  }
  
  
  /* My Work Section */
  
  .work {
    background-color: darkgrey;
  }
  
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .work-one {
    flex: 1 100%;
    border: 3px solid whitesmoke;
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  
  .work-one img {
    max-width: 100%;
    display: block;
  }
  
  .work-one a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
  }
  
  .work-next {
    flex: 1 50%;
    border: 3px solid whitesmoke;
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  
  .text {
    position: relative;
    top: 60%;
  }
  
  .run-buddy {
    background-image: url("../images/run.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  
  .horiseon {
    background-image: url("../images/HS.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  
  /* Hover for my work*/
  .work-one:hover,
  .work-next:hover {
    opacity: 0.8;
  }
  
  /* In order to make my links clickable */
  
  .work-one a,
  .work-next a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9900;
  }
  
  .text {
    margin: 5px;
    display: inline-block;
    padding: 5px;
  }
  
  .text h3 {
    line-height: 1.7;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  .text p {
    line-height: 1.3;
    font-size: 15px;
    color: black;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
  }
  
  /* My Work Section Complete */
  
  /*Contact Me section Start*/
  .contact {
    background-color: grey;
  }
  
  .contact-me {
    display: flex;
    flex: 1 100%;
    padding: 15px auto;
  }
  
  .contact-me p {
    font-size: 17px;
    margin: 15px;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  
  .contact-me a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .contact-me a:hover {
    border: 3px dashed whitesmoke;
    font-style: oblique;
    font-weight: lighter;
  }
    /*Section End */
  
    /* Media Query */
  
    @media screen and (max-width: 980px) {
      header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
  
      header h1 {
        width: 100%;
        text-align: center;
      }
  
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
  
      header nav ul li a {
        font-size: 16px;
      }
  
      footer h2 {
        text-align: center;
      }
  
      .hero {
        margin-bottom: 0;
      }
  
      .hero-set h2,
      .hero-set p {
        text-align: center;
        padding: 10px 40px 10px 40px;
      }
  
      .section-title,
      .section-title-2 {
        width: 80%;
        text-align: center;
      }
  
      .container {
        margin: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 0 100%;
        align-items: flex-start;
        justify-content: center;
      }
  
      .about-me {
        align-items: center;
        justify-content: center;
        padding: 0;
      }
  
      .about-img {
        display: flex;
        justify-content: center;
      }
  
      .about-img img {
        padding: 20px 40px 15px 40px;
      }
  
      .img-container {
        display: flex;
        flex: 1 100%;
        width: 100%;
        min-width: auto;
        margin: 5px;
        padding: auto;
      }
    }
  
    @media screen and (max-width: 768px) {
      .hero-set p {
        margin: auto;
        width: 60%;
        padding: 20px;
      }
  
      .run-buddy {
        background-size: cover;
        background-position: top left;
      }
    }
  
    @media screen and (max-width: 575px) {
  
      .section-title,
      .section-title-2 {
        font-size: 26px;
      }
  
      footer h2 {
        font-size: 18px;
      }
  
      header nav ul {
        justify-content: center;
        margin-top: 10px;
      }
  
      header nav ul li a {
        font-size: 15px;
        padding: 7px;
      }
  
      .hero-set h2 {
        font-size: 40px;
      }
  
      .hero-set p {
        width: 65%;
        font-size: 15px;
      }
  
      .contact-me p {
        font-size: 15px;
      }
  
      .run-buddy {
        background-position: top center;
      }
    }
  